# Advent of Code 2021

## Day 1: Sonar Sweep

### ---Part 1---
You're minding your own business on a ship at sea when the overboard alarm goes off! You rush to see if you can help. Apparently, one of the Elves tripped and accidentally sent the sleigh keys flying into the ocean!

Before you know it, you're inside a submarine the Elves keep ready for situations like this. It's covered in Christmas lights (because of course it is), and it even has an experimental antenna that should be able to track the keys if you can boost its signal strength high enough; there's a little meter that indicates the antenna's signal strength by displaying 0-50 stars.

Your instincts tell you that in order to save Christmas, you'll need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

As the submarine drops below the surface of the ocean, it automatically performs a sonar sweep of the nearby sea floor. On a small screen, the sonar sweep report (your puzzle input) appears: each line is a measurement of the sea floor depth as the sweep looks further and further away from the submarine.

For example, suppose you had the following report:

199
200
208
210
200
207
240
269
260
263
This report indicates that, scanning outward from the submarine, the sonar sweep found depths of 199, 200, 208, 210, and so on.

The first order of business is to figure out how quickly the depth increases, just so you know what you're dealing with - you never know if the keys will get carried into deeper water by an ocean current or a fish or something.

To do this, count the number of times a depth measurement increases from the previous measurement. (There is no measurement before the first measurement.) In the example above, the changes are as follows:

199 (N/A - no previous measurement)
200 (increased)
208 (increased)
210 (increased)
200 (decreased)
207 (increased)
240 (increased)
269 (increased)
260 (decreased)
263 (increased)
In this example, there are 7 measurements that are larger than the previous measurement.

**How many measurements are larger than the previous measurement?**

Your puzzle answer was **1832**.

In [1]:
import numpy as np
import pandas as pd

In [3]:
read_file = pd.read_csv (f'~/Documents/Python/Advent of Code 2021/input day one.txt')
read_file.to_csv (f'~/Documents/Python/Advent of Code 2021/input day 1.csv', index=None)

In [16]:
df = pd.read_csv(f'~/Documents/Python/Advent of Code 2021/input day 1.csv', names= ['depth'])

In [17]:
df.head()

   depth
0    193
1    195
2    204
3    208
4    219

In [43]:
type(df.shape[0])

int

In [34]:
df['depth'][1]

195

In [40]:
df['depth'][0]

193

In [88]:
df['depth'][1] > df['depth'][0]

True

In [89]:
df['status'] = np.nan

In [90]:
df.head()

   depth  status
0    193     NaN
1    195     NaN
2    204     NaN
3    208     NaN
4    219     NaN

In [91]:
for i in range (1, df.shape[0]):
    if df['depth'][i] > df['depth'][i-1]:
        df['status'][i] = 'increasing'
df.head()

/Users/OwenSwetenburg/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/OwenSwetenburg/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

   depth      status
0    193         NaN
1    195  increasing
2    204  increasing
3    208  increasing
4    219  increasing

In [99]:
df['status'].value_counts().sum()

1832

### --- Part Two ---
Considering every single measurement isn't as useful as you expected: there's just too much noise in the data.

Instead, consider sums of a three-measurement sliding window. Again considering the above example:

199  A      
200  A B    
208  A B C  
210    B C D
200  E   C D
207  E F   D
240  E F G  
269    F G H
260      G H
263        H
Start by comparing the first and second three-measurement windows. The measurements in the first window are marked A (199, 200, 208); their sum is 199 + 200 + 208 = 607. The second window is marked B (200, 208, 210); its sum is 618. The sum of measurements in the second window is larger than the sum of the first, so this first comparison increased.

Your goal now is to count the number of times the sum of measurements in this sliding window increases from the previous sum. So, compare A with B, then compare B with C, then C with D, and so on. Stop when there aren't enough measurements left to create a new three-measurement sum.

In the above example, the sum of each three-measurement window is as follows:

A: 607 (N/A - no previous sum)
B: 618 (increased)
C: 618 (no change)
D: 617 (decreased)
E: 647 (increased)
F: 716 (increased)
G: 769 (increased)
H: 792 (increased)
In this example, there are 5 sums that are larger than the previous sum.

Consider sums of a three-measurement sliding window. **How many sums are larger than the previous sum?**

Your puzzle answer was **1858**.

In [100]:
df['sliding'] = np.nan
df.head()

   depth      status  sliding
0    193         NaN      NaN
1    195  increasing      NaN
2    204  increasing      NaN
3    208  increasing      NaN
4    219  increasing      NaN

In [101]:
for i in range (3, df.shape[0]):
    if (df['depth'][i] + df['depth'][i-1] + df['depth'][i-2]) > (df['depth'][i-1] + df['depth'][i-2] + df['depth'][i-3]):
        df['sliding'][i] = 'increasing'
df.head()

/Users/OwenSwetenburg/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/OwenSwetenburg/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

   depth      status     sliding
0    193         NaN         NaN
1    195  increasing         NaN
2    204  increasing         NaN
3    208  increasing  increasing
4    219  increasing  increasing

In [102]:
df['sliding'].value_counts().sum()

1858